<%# <div style="width:100%; height:100%" class="d-flex justify-content-center align-items-center"> %>
<%# <div class="card justify-content-center align-items-center" style="width:33rem"> %>
<form style="width:100%; height:80vh;" class="d-flex justify-content-center align-items-center">
  <div style="width:80%" class="shadow p-3 mb-5 bg-white rounded">
    <div class="form-group">
      <label for="inputName">Username</label>
      <input type="text" class="form-control" id="inputName" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
<%# </div> %>
<%# </div> %>
