<div class="icon-container">
  <div class="icon">
    <i class="bi bi-people-fill"></i>
  </div>
  <p>Welcome to the Chatroom</p>
</div>
<div class="chat-area ">
  <%# *************Feed************** %>
  <div class="card" style="width: 80%;">
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-person-circle"></i></h5>
      <h6 class="card-subtitle mb-2 text-muted">Mario</h6>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eaque ad at? Harum, at fugit!</p>
    </div>
  </div>
  <%# **********Feed*************** %>
  <%# ********Header*********** %>
  <div class="card" style="width: 20%;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href=""> Home</a></li>
      <li class="list-group-item"><a href=""> Messages</a></li>
    </ul>
    <div class="card-footer">
      <a href=""> Friends</a>
    </div>
  </div>
  <%# ********Header********* %>
</div>
