<div class="icon-container">
  <div class="icon">
    <i class="bi bi-people-fill"></i>
  </div>
  <p>Welcome to the Chatroom</p>
</div>
<div class="chat-area ">
  <%# *************Feed************** %>
  <div class="card" style="width: 80%;">
    <div class="card-body">
      <%= render @messages%>
    </div>
    <div style="width:100%" class="input-group mb-3 align-items-center p-3">
      <textarea type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="basic-addon2"></textarea>
      <div class="input-group-append">
        <button class="btn btn-lg mx-3 btn-outline-secondary" type="button">Send</button>
      </div>
    </div>
  </div>
  <%# **********Feed*************** %>
  <%# ********Header*********** %>
  <div class="card" style="width: 20%;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href=""> Home</a></li>
      <li class="list-group-item"><a href=""> Messages</a></li>
    </ul>
    <div class="card-footer">
      <a href=""> Friends</a>
    </div>
  </div>
  <%# ********Header********* %>
</div>
