/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

 /* **********SESSIONS#INDEX*********** */
 .icon-container {
   /* width: 100%; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

 }
 .card a {
    text-decoration: none;
    color: rgb(78, 73, 73);
 }
 .card a:hover {
    color: black;
 }

 i {
  font-size:3rem;
 }
 .chat-area {
    display: flex;
    gap: 2rem;
   height:100vh;
 }
 .card {
    box-shadow: 0 0 2px 0 rgb(65, 64, 64);
    /* height: 400px; */
   max-height: 450px;

 }
 .form-control:focus {
   border-color: #2B3035;
   box-shadow: 0 0 2px 0 rgb(65, 64, 64);
 }
 @media (max-width:575px) {
    .chat-area {
        flex-direction: column;
    }
    .card {
        /* height: 20; */
    }
 }
/* **********SESSIONS#INDEX************ */